.nogaImage {
  color: white;
  text-align: center;
  width: 100%;
  background-image: url('../assets/noga.png');
  position: relative;
}

.text-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}