  @import "utils";
  body {
    font-family: $main-font;
    a {
      text-decoration: none;
    }
  }
  
  .greenText {
    color: $primary-color;
    a {
      color: $primary-color;
    }
  }
  
  .whiteText {
    color: white;
    a {
      color: white;
    }
  }
  
  .greyText {
    color: #5B5B5B;
    a {
      color: #5B5B5B;
    }
  }
  
  .spacerFifty {
    height: 50px;
  }
  
  .spacerTen {
    height: 10px;
  }
  
  .spacerForty {
    height: 40px;
  }
  
  .spacerSixty {
    height: 60px;
  }
  
  .spacerEighty {
    height: 80px;
  }
  
  .spacerTwenty {
    height: 20px;
  }
  
  .spacerTen {
    height: 10px;
  }
  
  .row {
    @include clearfix;
  }
  
  section {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4DCB9C;
    border: 0px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4DCB9C;
    border: 0px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  form {
    font-size: 1.5em
  }